$color-esloganbig: #ffffff;
$color-eslogantiny: #0e358a;

$color-bg-tablet: #b7a2dd;
$color-bg-pc: #212529;

$color-bluesoft: #adc9da;
$color-graysoft: #050c4b;

$color-violetnav: #b7a2dd;
$color-graynav: #212529;

$color-border-1: #147550;
$color-border-2: #4c5bb1;
